{% extends 'admin/base.html.twig' %}

{% block title %}{{page_title}}{% endblock %}

{% block content %}
  <form class="form js-edit-subscriber-form">
    {{honeypot()}}

    <input type="hidden" name="id" value="{{subscriber.id|e}}">
    
    <div class="form__row">
      <div class="form__col">
        <div class="form__field js-form-field">
          <input class="form__input-field" type="text" name="name" placeholder="Subscriber name" value="{{subscriber.name|e}}">
        </div>
      </div>
    </div>

    <div class="form__row">
      <div class="form__col">
        <div class="form__field js-form-field">
          <input class="form__input-field" type="text" name="email" placeholder="Subscriber e-mail" value="{{subscriber.email|e}}">
        </div>
      </div>
    </div>

    <div class="form__row form__row--submit">
      <button type="submit" class="btn btn--full btn--form">
        <i class="ri-save-2-line" aria-hidden="true"></i>
        Save Subscriber
      </button>
    </div>
  </form>
{% endblock %}