<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %} - Clothes Fashion Store
		</title>

		<!--
		    - favicon
		-->
		<link rel="icon" href="{{ assets('images/logo/favicon.svg') }}" type="image/svg+xml">

		<!--
		    -remix icons
		-->
		<link href="{{ assets('css/remixicon.css') }}" rel="stylesheet"/>

		<!--
		    -custom css link
		-->
		<link rel="stylesheet" href="{{ assets('css/front/style.css') }}">
	</head>

	<body {% if home_page %} class="home-page" {% endif %}>
		{% if not error_page %}
			<!-- PRELOADER -->
			<div class="preloader js-preloader"></div>

			<!-- LINES -->
			<div class="lines">
				<div class="lines__container">
					<div class="row">
						<span class="lines__line"></span>
						<span class="lines__line"></span>
						<span class="lines__line"></span>
						<span class="lines__line"></span>
						<span class="lines__line"></span>
						<span class="lines__line"></span>
					</div>
				</div>
			</div>
		{% endif %}

		<main
			class="body-wrapper">

			<!-- MESSAGES -->
			{% if session.user_message %}
				{% include 'front/includes/message.html.twig' %}
			{% endif %}

			{% if not error_page %}
				<!-- NAV -->
				{% include 'front/includes/offcanvas.html.twig' %}

				<!-- HEADER -->
				{% include 'front/includes/header.html.twig' %}
			{% endif %}

			<!-- PAGE TITLE -->
			{% if page_title %}
				{% include 'front/includes/page_title.html.twig' %}
			{% endif %}

			{% block content %}{% endblock %}

			{% if not error_page %}
				<!-- FOOTER -->
				{% include 'front/includes/footer.html.twig' %}
			{% endif %}

		</main>

		<!--
		    -ScrollReveal
		-->
		<script src="/js/front/general/scrollreveal.js"></script>

		<!--
		    -pre js block on single page
		-->
		{% block page_js_pre %}{% endblock %}

		<!--
		    -functions
		-->
		<script src="{{ assets('js/functions.js') }}"></script>

		<!--
		    -animations
		-->
		<script src="{{ assets('js/front/general/animations.js') }}"></script>

		<!--
		    -main js
		-->
		<script type="module" defer src="{{ assets('js/front/main.js') }}"></script>

		<!--
		    -page js
		-->
		{% if page_js %}
			{{ loadPageJs(page_js, 'front') }}
		{% endif %}

		<!--
		    -post js block on single page
		-->
		{% block page_js_post %}{% endblock %}
	</body>
</html>