<footer class="footer">
	<div class="container">
		<div class="row main-grid">
			<div class="footer__logo">
				<a href="{{ global_vars.system.doc_root }}">
					<img src="{{ assets('images/logo/logo.svg') }}" alt="Clothes New York fashion artist logo">
				</a>
			</div>

			<div class="footer__about">
				<p>Discover timeless style and unmatched comfort with our exclusive collection. From everyday essentials to standout pieces, we craft clothing designed to inspire confidence.</p>
			</div>

			<div class="footer__contact">
				<strong>{{ global_vars.shop_info.name }}</strong><br>
				<a href="mailto:{{ global_vars.shop_info.email }}">{{ global_vars.shop_info.email }}</a><br>
				{{ global_vars.shop_info.address }}<br>
				{{ global_vars.shop_info.phone }}
			</div>
		</div>
	</div>
</footer>