<footer class="footer">
	<div class="container">
		<div class="row main-grid">
			<div class="footer__logo">
				<a href="/">
					<img src="{{ assets('/images/logo/logo.svg') }}" alt="Clothes New York fashion artist logo">
				</a>
			</div>

			<div class="footer__about">
				<p>Discover timeless style and unmatched comfort with our exclusive collection. From everyday essentials to standout pieces, we craft clothing designed to inspire confidence.</p>
			</div>

			<div class="footer__contact">
				<strong>{{ config.shop.name }}</strong><br>
				<a href="mailto:{{ config.shop.email }}">{{ config.shop.email }}</a><br>
				{{ config.shop.address }}<br>
				{{ config.shop.phone }}
			</div>
		</div>
	</div>
</footer>