{% set doc_root = config.system.doc_root %}

<nav class="offcanvas js-offcanvas">
	<div class="offcanvas__container">
		<div class="offcanvas__logo">
			<a href="{{ doc_root }}">
				<img src="{{ assets('images/logo/logo-white.svg') }}" alt="Clothes New York fashion artist logo" aria-hidden="true">
			</a>
		</div>

		<div class="offcanvas__nav">
			<ul class="offcanvas__nav__list">
				<li class="offcanvas__nav__list__item {{ pageActiveStatus('', url_parts[0]) }}">
					<a class="offcanvas__nav__list__link" href="{{ doc_root }}">Home</a>
				</li>
				<li class="offcanvas__nav__list__item">
					<a class="offcanvas__nav__list__link" href="{{ doc_root }}#">Shop</a>
				</li>
				<li class="offcanvas__nav__list__item">
					<a class="offcanvas__nav__list__link" href="{{ doc_root }}#">Cart</a>
				</li>
				<li class="offcanvas__nav__list__item {{ pageActiveStatus('contact', url_parts[0]) }}">
					<a class="offcanvas__nav__list__link" href="{{ doc_root }}contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="offvanvas__image" aria-hidden="true">
		<img src="{{ assets('images/offcanvas-image.webp') }}" alt="Woman in black dress leaning against a chair" aria-hidden="true">
	</div>

	<button class="offvanvas__close js-offcanvas-close"></button>
</nav>