<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %} - Admin
		</title>

		<!--
		    - favicon
		-->
		<link rel="icon" href="{{ assets('images/admin/favicon.png') }}" type="image/png">

		<!--
		    -remix icons
		-->
		<link href="{{ assets('css/remixicon.css') }}" rel="stylesheet"/>

		<!--
		    -custom css
		-->
		<link rel="stylesheet" href="{{ assets('css/admin/style.css') }}">
	</head>

	<body>
		<div class="app">
			<div class="mobile-overlay js-mobile-overlay"></div>

			<!-- MAIN CONTENT -->
			{% if not authentication_page %}
				<!-- ASIDE -->
				{% include 'admin/includes/aside.html.twig' %}

				<main>
					<!-- HEADER -->
					{% include 'admin/includes/header.html.twig' %}

					<div class="app-content">
						{% if session.admin_message %}
							<!-- MESSAGES -->
							{% include 'admin/includes/message.html.twig' %}
						{% endif %}

						<!-- PAGE TITLE -->
						{% include 'admin/includes/page_title.html.twig' %}

						<div class="app-content__panel"> {% block content %}{% endblock %}</div>

						<p class="copyright">© NomisCMS - Created By Szymon Lewandowski</p>
					</div>
				</main>
            {% else %}
                {{ block('content') }}
            {% endif %}
		</div>

        <!--
            -Global variables js
        -->
        <script>
            const docRoot = '{{ global_vars.system.doc_root }}';
            const csrf = '{{ session.csrf|e("js") }}';
        </script>

        <!--
            -pre js block on single page
        -->
        {% block page_js_pre %}{% endblock %}

        <!--
            -functions
        -->
        <script src="{{ assets('js/functions.js') }}"></script>

        <!--
            -main js
        -->
        <script type="module" defer src="{{ assets('js/admin/main.js') }}"></script>

        <!--
            -page js
        -->
        {% if page_js %}
            {{ loadPageJs(page_js, 'admin') }}
        {% endif %}

        <!--
            -post js block on single page
        -->
        {% block page_js_post %}{% endblock %}
	</body>
</html>