<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
  {% block title %} {% endblock %}
  - Clothes Fashion Store
  </title>

  <!--
    - favicon
  -->
  <link rel="icon" href="{{doc_root}}images/logo/favicon.svg" type="image/svg+xml">

  <!--
    -remix icons
  -->
  <link href="{{doc_root}}{{ showFileModificationTime('css/remixicon.css') }}" rel="stylesheet"/>

  <!--
    -custom css link
  -->
  <link rel="stylesheet" href="{{doc_root}}{{ showFileModificationTime('css/style.css') }}">

</head>

<body {% if home_page %}class="home-page"{% endif %}>

  {% if not page_404 %}
    <!-- PRELOADER -->

    <div class="preloader js-preloader"></div>

    <!-- LINES -->

    <div class="lines">
      <div class="lines__container">
        <div class="row">
          <span class="lines__line"></span>
          <span class="lines__line"></span>
          <span class="lines__line"></span>
          <span class="lines__line"></span>
          <span class="lines__line"></span>
          <span class="lines__line"></span>
        </div>
      </div>
    </div>
  {% endif %}

  <main class="body-wrapper">

    <!-- MESSAGES -->
    {% if session.user_message %}

      {% include 'includes/message.html.twig' %}

    {% endif %}

    {% if not page_404 %}
      <!-- NAV -->

      {% include 'includes/offcanvas.html.twig' %}

      <!-- HEADER -->

      {% include 'includes/header.html.twig' %}

    {% endif %}

    <!-- PAGE TITLE -->
    {% if page_title %}

      {% include 'includes/page_title.html.twig' %}

    {% endif %}

    {% block content %}{% endblock %}

    {% if not page_404 %}
      <!-- FOOTER -->

      {% include 'includes/footer.html.twig' %}
    {% endif %}

  </main>

  <!--
    -Global variables js
  -->
  <script>
    const docRoot = '{{doc_root}}';
    const csrf = '{{session.csrf|e("js")}}';
  </script>

  <!--
    -ScrollReveal
  -->
  <script src="{{doc_root}}js/scrollreveal.js"></script>

  <!--
    -functions
  -->
  <script src="{{doc_root}}{{ showFileModificationTime('js/functions.js') }}"></script>

  <!--
    -animations
  -->
  <script src="{{doc_root}}{{ showFileModificationTime('js/animations.js') }}"></script>

  <!--
    -custom js
  -->
  <script src="{{doc_root}}{{ showFileModificationTime('js/scripts.js') }}"></script>

  <!--
    -js block on single page
  -->
  {% block page_js %} {% endblock %}
</body>
</html>